<mat-toolbar>
  <div class="left">
    <img src="assets/logo.svg" alt="logo" class="logo" />
  </div>

  <span class="spacer"></span>

  <div class="right">
    <button mat-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>menu</mat-icon>
      <span class="menu-text">Menu</span>
    </button>

    <!-- Desktop -->
    @if (!isMobile) {
      <button mat-button aria-label="Login">
        <mat-icon>account_circle</mat-icon>
        <span class="menu-text">Entrar</span>
      </button>

      <button mat-button aria-label="Share">
        <mat-icon>share</mat-icon>
        <span class="menu-text">Share</span>
      </button>
    }
  </div>

  <mat-menu #menu="matMenu">
    <!-- Mobile -->
    @if (isMobile) {
      <button mat-menu-item aria-label="Login">
        <mat-icon>account_circle</mat-icon>
        <span>Entrar</span>
      </button>

      <button mat-menu-item routerLink="/resgister">
        <mat-icon>assignment ind</mat-icon>
        <span>Cadastre-se</span>
      </button>

      <button mat-menu-item aria-label="Share">
        <mat-icon>share</mat-icon>
        <span>Compartilhar</span>
      </button>
    }

    <button mat-menu-item routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

    <!-- Desktop -->
    @if (!isMobile) {
      <button mat-menu-item routerLink="/resgister">
        <mat-icon>assignment ind</mat-icon>
        <span>Cadastre-se</span>
      </button>
    }

    <button mat-menu-item routerLink="/projects">Projects</button>
    <button mat-menu-item routerLink="/contact">Contact</button>
  </mat-menu>
</mat-toolbar>
