<mat-toolbar>
  <div class="left">
    <img src="assets/logo.svg" alt="b1010code logo" class="logo" />
  </div>

  <span class="spacer"></span>

  <div class="right">
    <button mat-button [matMenuTriggerFor]="menu" class="menu-button" aria-label="Menu">
      <mat-icon>menu</mat-icon>
      <span class="menu-text">Menu</span>
    </button>

    <button mat-button class="menu-button" aria-label="Login">
      <mat-icon>account_circle</mat-icon>
      <span class="menu-text">Entrar</span>
    </button>

    <button mat-button class="menu-button" aria-label="Share">
      <mat-icon>share</mat-icon>
      <span class="menu-text">Share</span>
    </button>
  </div>

  <mat-menu #menu="matMenu" panelClass="custom-menu">
    <button mat-menu-item routerLink="/home">Home</button>
    <button mat-menu-item routerLink="/resgister">Cadastro</button>
    <button mat-menu-item routerLink="/projects">Projects</button>
    <button mat-menu-item routerLink="/contact">Contact</button>
  </mat-menu>
</mat-toolbar>
