<body>
  <div class="grid">
    <div class="item three">
      <h2>Bem-vindo ao PrintsControl</h2>
      <p>
        Este site foi criado para ajudar você a identificar informações falsas de forma rápida e
        segura. Aqui você pode verificar conteúdos, analisar sua confiabilidade e acompanhar
        relatórios detalhados sobre notícias suspeitas.
      </p>
    </div>
    <div class="item four">4</div>
    <div class="item two">2</div>
    <div class="item one">1</div>
  </div>

  <!-- <div class="grid">
    <div class="item one">
      1
       <img src="assets/two.svg" alt="Imagem" />
    </div>
    <div class="item two">
      2
       <img src="assets/two.svg" alt="Imagem" />
    </div>
    <div class="item three">
      3
       <img src="assets/three.svg" alt="Imagem" />
    </div>
    <div class="item four">
      4
       <img src="assets/four.svg" alt="Imagem" />
    </div>
  </div> -->
</body>

<!-- <div class="grid">
    <div class="item one">
      1
       <img src="assets/two.svg" alt="Imagem" />
    </div>
    <div class="item two">
      2
       <img src="assets/two.svg" alt="Imagem" />
    </div>
    <div class="item three">
      3
       <img src="assets/three.svg" alt="Imagem" />
    </div>
    <div class="item four">
      4
       <img src="assets/four.svg" alt="Imagem" />
    </div>
  </div> -->
