<div class="terms-container">
  <mat-card class="terms-card">
    <mat-card-header>
      <mat-card-title>Termos e Condições de Uso</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <section>
        <h2>1. Aceitação dos Termos</h2>
        <p>
          Ao acessar e utilizar a plataforma <strong>fake news agência</strong>, o Usuário declara
          ter lido, compreendido e aceitado integralmente estes Termos e Condições de Uso.
        </p>
      </section>

      <section>
        <h2>2. Uso da Plataforma</h2>
        <p>
          O Usuário compromete-se a utilizar os serviços de forma ética, responsável e em
          conformidade com a legislação vigente.
        </p>
        <ul>
          <li>Não reproduzir conteúdos sem permissão</li>
        </ul>
      </section>

      <section>
        <h2>3. Privacidade e Proteção de Dados</h2>
        <p>
          O tratamento de dados pessoais é realizado conforme o Aviso de Privacidade, respeitando a
          LGPD e demais normas aplicáveis.
        </p>
      </section>

      <section>
        <h2>4. Propriedade Intelectual</h2>
        <p>
          Todos os conteúdos, marcas e materiais sistemas, métodos e funções disponibilizados são de
          titularidade exclusiva da
          <strong>b1010code</strong>.
        </p>
      </section>

      <section>
        <h2>5. Isenção de Garantias</h2>
        <p>
          A plataforma é fornecida "como está", rastreando exibindo iformações mas é de total
          responsabilidade do usuário o que irá fazer com as informações, sendo consciênte de que
          qualquer informações mais sérias e sensíveis, deve haver uma checagem investigativa mais
          ampla.
        </p>
      </section>

      <section>
        <h2>6. Responsabilidades do Usuário</h2>
        <p>O Usuário é integralmente responsável pelas ações realizadas em sua conta.</p>
      </section>

      <section>
        <h2>7. Suspensão de Acesso</h2>
        <p>
          A fake news agência poderá suspender ou encerrar o acesso em caso de violação destes
          Termos.
        </p>
      </section>

      <section>
        <h2>8. Lei Aplicável</h2>
        <p>
          Estes Termos são regidos pelas leis da República Federativa do Brasil, com foro eleito na
          cidade de São Paulo.
        </p>
      </section>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions align="end">
      <button mat-flat-button class="back-btn" (click)="goBack()">Voltar</button>
    </mat-card-actions>
  </mat-card>
</div>
