<ng-container *transloco="let t">
  <div class="wrapper" [ngClass]="active">
    <div class="menu">
      <mat-button-toggle-group appearance="legacy" [(ngModel)]="active">
        <mat-button-toggle (click)="setLang('en')" value="en">🇺🇸 English</mat-button-toggle>
        <mat-button-toggle (click)="setLang('fr')" value="fr">🇫🇷 Français</mat-button-toggle>
        <mat-button-toggle (click)="setLang('es')" value="es">🇪🇸 Español</mat-button-toggle>
        <mat-button-toggle (click)="setLang('pt')" value="pt">🇧🇷 Português</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="content">
      <div class="w50">
        <mat-card class="example-card">
          <mat-card-title
            ><h1>{{ t('land.hero.title') }}</h1></mat-card-title
          >
          <mat-card-content>
            <p class="p-text2">
              {{ t('land.hero.description') }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="w50 card-small-top">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
              <h2>{{ t('land.sys.title') }}</h2>
            </mat-card-title>
          </mat-card-header>
          <img src="assets/logo_signal.svg" alt="logo_signal" />
          <mat-card-content>
            <h2 class="tc">{{ t('land.sys.handle') }}</h2>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="w50 card-small">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title
              ><h2 class="tc" [ngClass]="{ small: active === 'fr' }">
                {{ t('land.build.title') }}
              </h2></mat-card-title
            >
          </mat-card-header>
          <img src="assets/construction.gif" alt="under-construction" />
          <mat-card-content>
            <h2 class="tc">
              {{ t('land.build.cont') }}
            </h2>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <!--------------------------------------------------------------------->
  <div class="grid">
    <div class="item one">
      <h2>{{ t('land.objective.title') }}</h2>
      <p>
        {{ t('land.objective.cont') }}
      </p>
    </div>
    <div class="item two">
      <h2>{{ t('land.feature.title') }}</h2>
      <p>
        {{ t('land.feature.cont') }}
      </p>
    </div>
    <div class="item three">
      <h2>{{ t('land.tips.title') }}</h2>
      <p>
        {{ t('land.tips.cont') }}
      </p>
    </div>
    <div class="item four">
      <h2>{{ t('land.tips.title') }}</h2>
      <p>
        {{ t('land.tips.cont') }}
      </p>
    </div>
  </div>
  <div class="header">
    <h2>{{ t('land.engineering.title') }}</h2>
    <img src="assets/engineering.svg" class="engineering" alt="enginering" />
  </div>
  <div class="grid">
    <div class="item five">
      <h2>{{ t('land.verif.title') }}</h2>
      <p>
        {{ t('land.verif.cont') }}
      </p>
      <h2>{{ t('land.score.title') }}</h2>
      <p>
        {{ t('land.score.cont') }}
      </p>
      <h2>{{ t('land.monitor.title') }}</h2>
      <p>
        {{ t('land.monitor.cont') }}
      </p>
      <h2>{{ t('land.reports.title') }}</h2>
      <p>
        {{ t('land.reports.cont') }}
      </p>
      <h2>{{ t('land.history.title') }}</h2>
      <p>
        {{ t('land.history.cont') }}
      </p>
      <h2>{{ t('land.enriched.title') }}</h2>
      <p>
        {{ t('land.enriched.cont') }}
      </p>
    </div>
  </div>
</ng-container>
