.wrapper {
  --back-wrapper: #ffcc00;
  --back-button: #f3c200;
  --active: #0033ff;
  // var(--color-danger);

  margin: 0 auto;
  position: relative;
  background-color: var(--back-wrapper);

  .flex {
    display: flex;
    gap: 20px;
  }

  .pointer {
    cursor: pointer;
  }

  .menu {
    display: flex;
    justify-content: center;
    padding-top: 5px;

    mat-button-toggle {
      cursor: pointer;
      background-color: transparent;
      transition: 0.3s;
    }

    .mat-button-toggle-checked {
      background-color: var(--back-button) !important;
      color: var(--color-danger);
    }
  }

  .logo-land-small {
    margin-left: 2%;
    width: 15%;
    height: auto;
  }

  .logo-signal {
    width: 55%;
    height: auto;
  }

  .content {
    display: flex;
    padding: 0px 0;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;

    .w50 {
      margin-left: 2%;
      width: 30%;
    }

    .grid {
      background-color: #fff;
    }

    mat-card {
      background: transparent !important;
      box-shadow: none;
    }

    mat-card h1 {
      font-size: clamp(2.7rem, 6vw, 4.1rem);
      text-align: center;
    }

    mat-card-header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .mt-tl {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }

    .under-construction {
      width: 80%;
      height: auto;
    }

    .p-text {
      margin: 0;
      color: var(--pcolor);
      font-weight: 900;
    }

    .p-text2 {
      text-align: justify;
      margin: 16px 0;
      line-height: 1.6;
    }

    h1 {
      font-size: 62px;
      margin: 10px 0 20px;
      font-weight: 900;
      line-height: 62px;
    }

    .description {
      width: 50%;
      margin-bottom: 40px;
      font-size: 16px;
    }
  }
}

.tc {
  text-align: center;
  font-size: 30px;
}

.fr .tc {
  font-size: 12px;
}

// ----------------------- ------------------------------- ---------------- //
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'one two three four'
    'five five five four';

  gap: 5px;
  padding: 0.1%;

  align-items: stretch; /* IMPORTANTE */
}

.item {
  padding: 2px;
  box-sizing: border-box;
  height: 100%;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}

.item {
  width: 100%;
  height: auto;
  display: flex;
  background: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  line-height: 1.4;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 10px;
  box-sizing: border-box;
}

.item h2 {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
  font-size: clamp(1rem, 2vw + 0.5rem, 1.6rem);
  color: #3f3f3f;
}

.item p {
  margin: 0px 2px 20px 2px;
  font-size: clamp(0.85rem, 1.5vw + 0.4rem, 1.1rem);
  color: #3f3f3f;
}

.four-image {
  width: 71%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'one  one'
      'two  three'
      'five five'
      'four four';
  }
}

.construction {
  width: 300px;
  height: auto;
}

@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    align-items: stretch;
  }

  .content .w50 {
    width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: 0;
  }
  .content mat-card {
    margin: 0;
  }

  .card-small-top mat-card {
    margin-top: -130px;
    margin-bottom: -100px;
  }
}
