.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'one two three four'
    'five five five four';

  gap: 10px;
  padding: 0.5%;

  align-items: stretch; /* IMPORTANTE */
}

.item {
  background: white;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}

.item {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  line-height: 1.4;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 10px;
  box-sizing: border-box;
}

.item h2 {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
  font-size: clamp(1rem, 2vw + 0.5rem, 1.6rem);
  color: #3f3f3f;
}

.item p {
  margin: 0px 10px 20px 10px;
  font-size: clamp(0.85rem, 1.5vw + 0.4rem, 1.1rem);
  color: #3f3f3f;
}

.four-image {
  width: 83%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'one  one'
      'two  three'
      'five five'
      'four four';
  }
}
