<mat-card class="signup-card">
  <mat-card-header>
    <mat-card-title>Registre-se</mat-card-title>
  </mat-card-header>

  <form class="signup-form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="input-full">
      <mat-label>Nome </mat-label>
      <input matInput formControlName="name" />
      @if (form.get('name')?.touched && form.get('name')?.hasError('required')) {
        <mat-error> Nome é obrigatório </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="input-full">
      <mat-label>Sobrenome</mat-label>
      <input matInput formControlName="last_name" />
      @if (form.get('last_name')?.touched && form.get('last_name')?.hasError('required')) {
        <mat-error> Sobrenome é obrigatório </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="input-full">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" [errorStateMatcher]="matcher" />
      <mat-hint>Digite um email válido</mat-hint>

      @if (form.get('email')?.touched && form.get('email')?.hasError('required')) {
        <mat-error> Email é obrigatório </mat-error>
      }
      @if (form.get('email')?.touched && form.get('email')?.hasError('email')) {
        <mat-error> Email inválido </mat-error>
      }
    </mat-form-field>

    <mat-label id="date">Data de nascimento</mat-label>
    <div class="row">
      <mat-form-field class="date-field" appearance="fill">
        <mat-label>Dia</mat-label>
        <mat-select formControlName="day">
          @for (day of days; track day) {
            <mat-option [value]="day">{{ day }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="date-field" appearance="fill">
        <mat-label>Mês</mat-label>
        <mat-select formControlName="month">
          @for (month of months; track month.value) {
            <mat-option [value]="month.value">{{ month.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="date-field" appearance="fill">
        <mat-label>Ano</mat-label>
        <mat-select formControlName="year">
          @for (year of years; track year) {
            <mat-option [value]="year">{{ year }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="input-full" appearance="fill">
      <mat-label>Gênero</mat-label>
      <mat-select formControlName="gender">
        @for (gender of genders; track gender.value) {
          <mat-option [value]="gender.value">{{ gender.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-full" appearance="fill">
      <mat-label>Profissão</mat-label>

      <mat-select formControlName="profession">
        @for (role of professions; track role.value) {
          <mat-option [value]="role.value">
            {{ role.label }}
          </mat-option>
        }
      </mat-select>

      @if (form.get('profession')?.invalid && form.get('profession')?.touched) {
        <mat-error>Selecione uma profissão</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="input-full" appearance="fill">
      <mat-label>Celular</mat-label>
      <input
        pInputText
        type="tel"
        matInput
        formControlName="phone"
        pInputMask="(99) 99999-9999"
        placeholder="(11) 91234-5678"
      />

      <mat-icon matSuffix>mode_edit</mat-icon>

      @if (form.get('phone')?.invalid && form.get('phone')?.touched) {
        <mat-error> Informe um celular válido </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="input-full">
      <mat-label>Senha</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        [errorStateMatcher]="matcher"
      />
      <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-hint>Mínimo de 8 caracteres</mat-hint>

      @if (form.get('password')?.touched && form.get('password')?.hasError('required')) {
        <mat-error> Senha é obrigatória </mat-error>
      }
      @if (form.get('password')?.touched && form.get('password')?.hasError('minlength')) {
        <mat-error> A senha deve ter pelo menos 8 caracteres </mat-error>
      }
    </mat-form-field>

    <mat-form-field id="confirm" class="input-full">
      <mat-label>Confirmar senha</mat-label>
      <input
        matInput
        [type]="hideConfirmPassword ? 'password' : 'text'"
        formControlName="confirmPassword"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hideConfirmPassword = !hideConfirmPassword"
      >
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      @if (
        form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')
      ) {
        <mat-error> Confirmação obrigatória </mat-error>
      }
    </mat-form-field>

    @if (form.touched && form.hasError('mismatch')) {
      <mat-error> As senhas não coincidem </mat-error>
    }

    <mat-checkbox formControlName="terms">
      Aceito os
      <span class="privacy" (click)="goConditions()">Termos</span>
      e a
      <span class="privacy" (click)="goPrivacy()">Política de Privacidade</span>
    </mat-checkbox>
    @if (form.get('terms')?.touched && form.get('terms')?.hasError('required')) {
      <mat-error> Você deve aceitar os termos </mat-error>
    }

    <div #captchaContainer id="recaptcha-container" class="recaptcha-box"></div>

    @if (f.recaptcha.touched && f.recaptcha.invalid) {
      <mat-error>Confirme que você não é um robô</mat-error>
    }

    <mat-card-footer>
      <p>
        Este site é protegido pelo reCAPTCHA e o Google onde se aplicam sua
        <span class="privacy" (click)="googlePrivacy()">Privacidade</span> e
        <span class="privacy" (click)="googleTerms()">Termos de Uso</span>.
      </p>
    </mat-card-footer>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Criar conta
      </button>
    </mat-card-actions>
  </form>

  <p class="has-account" (click)="goToLogin()">Já tenho conta</p>
</mat-card>
